@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
  .header {
    padding: 0px 20px;
    border-bottom: solid 1px lightgray;
  }

  .body {
    /* padding: 0px 20px; */
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;

    > button:first-child {
      margin-right: 15px;
    }
  }
}