.monthsRow {
  display: inline-flex;
  border: solid 1px lightblue;
  border-top: 0px;
  border-left: 0px;
  height: 45px;
  align-items: center;

  .month {
    font-weight: bold;
    text-transform: uppercase;
    border-right: solid 1px lightblue;
    height: 100%;
    display: flex;
    align-items: center;

    > div {
      > div {
        padding-left: 30px;
        color: lightblue;
      }
    }

    &:last-child {
      border: 0px;
    }
  }
}