.tasksListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 18px;
  box-sizing: border-box;
  height: 25px;
  border-bottom: solid 1px lightblue;

  i {
    margin-right: 12px;
    font-size: 12px;
  }

  &.completed {
    opacity: 0.6;
  }
}